[submodule "half"]
	path = base/half
	url = https://github.com/ROCm/half.git
	branch = rocm
[submodule "HIPIFY"]
	path = compiler/hipify
	url = https://github.com/ROCm/HIPIFY.git
	branch = amd-mainline
[submodule "llvm-project"]
	path = compiler/amd-llvm
	url = https://github.com/ROCm/llvm-project.git
	branch = amd-mainline
[submodule "rccl"]
	path = comm-libs/rccl
	url = https://github.com/ROCm/rccl.git
	branch = develop
[submodule "rocm-cmake"]
	path = base/rocm-cmake
	url = https://github.com/ROCm/rocm-cmake.git
	branch = mainline
[submodule "rccl-tests"]
	path = comm-libs/rccl-tests
	url = https://github.com/ROCm/rccl-tests.git
	branch = develop
[submodule "composable_kernel"]
	path = ml-libs/composable_kernel
	url = https://github.com/ROCm/composable_kernel.git
	branch = develop
[submodule "rocprof-trace-decoder"]
	path = profiler/rocprof-trace-decoder/binaries
	url = https://github.com/ROCm/rocprof-trace-decoder.git
[submodule "rocm-libraries"]
	path = rocm-libraries
	url = https://github.com/ROCm/rocm-libraries
	branch = develop
[submodule "rocm-systems"]
	path = rocm-systems
	url = https://github.com/ROCm/rocm-systems.git
	branch = develop
[submodule "spirv-llvm-translator"]
	path = compiler/spirv-llvm-translator
	url = https://github.com/ROCm/SPIRV-LLVM-Translator.git
	branch = amd-mainline
[submodule "amdsmi"]
	path = base/amdsmi
	url = https://github.com/ROCm/amdsmi.git
	branch = amd-staging
