Source: {{ source }}
Section: {{ section }}
Priority: {{ priority }}
Maintainer: {{ maintainer }}
Build-Depends: debhelper-compat (= 13)
Standards-Version: {{version}}
Homepage: {{ homepage }}

Package: {{ pkg_name }}
Architecture: {{ arch }}
Depends: {{ depends }}
Description: {{ description_short }}
 {{ description_long }}
